<div class="center hero-unit">
<h1>MrSERV - CCP4 Molecular Replacement server</h1>
<p>
This is the home page for the CCP4 Molecular Replacement webservice.
</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("ccp4.gif", alt: "CCP4"), 'http://www.ccp4.ac.uk/' %>
